Repository Gudsfile/tracksy, pull requests merged in 2025-10, with the labels that each got.

#126 chore: add groups for npm-packages and github-actions in dependabot configuration
  .github/dependabot.yml
Labels: ci/cd, dependencies, hacktoberfest

#133 Highlight Current Value on Range Slider
  app/src/components/RangeSlider/RangeSlider.tsx
Labels: enhancement, [ app ], hacktoberfest-accepted

#121 feat(charts): view charts by year
  app/src/components/Charts/Charts.test.tsx
  app/src/components/Charts/Charts.tsx
  app/src/components/Charts/StreamPerMonth/fixtures/seed.json
  app/src/components/Charts/StreamPerMonth/index.tsx
  app/src/components/Charts/StreamPerMonth/query.test.ts
  app/src/components/Charts/StreamPerMonth/query.tsx
  app/src/components/Charts/SummaryPerYear/index.tsx
  app/src/components/Charts/SummaryPerYear/plot.tsx
  app/src/components/Charts/SummaryPerYear/query.test.ts
  app/src/components/Charts/SummaryPerYear/query.tsx
Labels: enhancement, [ app ], preview

#147 chore: reorganize GitHub workflows
  .github/workflows/app-build.yml
  .github/workflows/app-deploy-live.yml
  .github/workflows/app-deploy-preview.yml
  .github/workflows/datasets-generate-synthetic.yml
  .github/workflows/datasets-test-synthetic.yml
  .github/workflows/deploy-app-live.yml
  .github/workflows/meta-dependabot-automerge.yml
  .github/workflows/meta-sync-labels.yml
Labels: refactor, ci/cd, [ [ meta ] ]
